# Exploring CSV Files

In [8]:
import numpy as np
import pandas as pd
import sqlite3

In [13]:
import os
os.listdir('../raw_data/')

['olist_sellers_dataset.csv',
 'product_category_name_translation.csv',
 'olist_orders_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_customers_dataset.csv',
 'olist_geolocation_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_products_dataset.csv']

In [16]:
os.getcwd()

'/Users/oksanamishchenko/code/Ksyu22/olist_ecommerce/olist_ecommerce/notebooks'

In [ ]:
csv_list = os.listdir('../raw_data/')

In [18]:
data_path = os.path.join('..' , 'raw_data')

In [56]:
customers = pd.read_csv(os.path.join(data_path, 'olist_orders_dataset.csv'))
customers.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [57]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [42]:
list(customers.columns.values)

['customer_id',
 'customer_unique_id',
 'customer_zip_code_prefix',
 'customer_city',
 'customer_state']

In [49]:
# getting column names and data typpes
columns_info = dict(customers.dtypes)
columns_info

{'customer_id': dtype('O'),
 'customer_unique_id': dtype('O'),
 'customer_zip_code_prefix': dtype('int64'),
 'customer_city': dtype('O'),
 'customer_state': dtype('O')}

## Importing all the data into SQL database

In [22]:
# creating database
connection = sqlite3.connect('olist.db')

In [23]:
# initiating cursor
curs = connection.cursor()

In [34]:
# creating table
curs.execute(f"""
        CREATE TABLE IF NOT EXISTS customers({columns_info.keys()})
""")

In [36]:
res = curs.execute("SELECT name FROM sqlite_master")
res.fetchone()

('customers',)